<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card-custom">
                <div *ngIf="pohadjanjePredmeta.predmet" class="card-header text-white bg-dark profile-header fw-bold">
                    Pohađanje predmeta {{pohadjanjePredmeta.predmet.naziv}}
                </div>
                <div class="card-body bg-dark bg-gradient">
                    <ul class="list-group list-group-flush">
                        <li *ngIf="pohadjanjePredmeta.predmet"
                            class="list-group-item mt-2 text-white bg-secondary rounded">
                            Predmet: {{ pohadjanjePredmeta.predmet.naziv }}
                        </li>
                        <li *ngIf="pohadjanjePredmeta.predmet"
                            class="list-group-item mt-2 text-white bg-secondary rounded">
                            ESPB: {{ pohadjanjePredmeta.predmet.espb }}
                        </li>
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            Pocetak: {{ pohadjanjePredmeta.startDate.split("T")[0] }}
                        </li>
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            Kraj: {{ pohadjanjePredmeta.endDate.split("T")[0] }}
                        </li>
                    </ul>
                    <div *ngIf="isAdministrator()" class="card-footer text-white p-0">
                        <button class="btn btn-danger mt-3" type="button" (click)="openBrisanjeModal()"><i
                                class="bi bi-trash3"></i> Obrisi</button>
                    </div>
                </div>

            </div>
            <div class="my-4">
                <table class="table table-dark table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Smer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of studenti">
                            <td class="pt-3"><a [routerLink]="['/studenti', student.korisnickoIme]">{{ student.ime
                                    }}</a></td>
                            <td class="pt-3">{{ student.smer }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="modal fade" id="brisanjePohadjanjaModal" tabindex="-1" aria-labelledby="brisanjePohadjanjaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="brisanjePohadjanjaModalLabel">Brisanje pohađanja</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Da li ste sigurni da želite da obrišete pohađanje?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="obrisiPohadjanje()"><i
                            class="bi bi-person-x"></i>
                        Potvrdi</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i> Odustani</button>
                </div>
            </div>
        </div>
    </div>

</div>