<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-4 offset-md-1 align-self-center">
            <img class="profile-img" src="assets/img/Doggo.png">
        </div>
        <div class="col-12 col-md-6">
            <div class="card card-custom">
                <div class="card-header text-white bg-dark profile-header">
                    Pregled dokumenta
                </div>
                <div class="card-body bg-dark bg-gradient">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            ID: {{ dokument.id }}
                        </li>
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            Naziv dokumenta: {{ dokument.nazivDokumenta }}
                        </li>
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            Tip dokumenta: {{ dokument.tipDokumenta }}
                        </li>
                        <li class="list-group-item mt-2 text-white bg-secondary rounded">
                            Student: {{ dokument.student.korisnickoIme }}
                        </li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal fade" id="izmenaModal" tabindex="-1" aria-labelledby="izmenaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Izmena dokumenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="nazivInput" name="naziv"
                            [(ngModel)]="dokument.nazivDokumenta" />
                        <label class="text-black" for="nazivInput">Naziv</label>
                    </div>
                    <!-- <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="tipInput" name="tip"
                            [(ngModel)]="dokument.tipDokumenta" />
                        <label class="text-black" for="tipInput">Tip dokumenta</label>
                    </div> -->

                    <div class="form-floating mb-2">
                        <select class="form-select" aria-label="Tip Dokumenta select" id="tipInput"
                        [(ngModel)]="dokument.tipDokumenta">
                            <option value="OBRAZAC">
                                Obrazac
                            </option>
                            <option value="DIPLOMA">
                                Diploma
                            </option>
                            
                        </select>
                        <label class="text-black" for="tipInput">Tip dokumenta</label>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="studentInput" name="student"
                            [(ngModel)]="dokument.student" />
                        <label class="text-black" for="studentInput">Student</label>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="izmeniDokument()">
                        <i class="bi bi-person-check"></i> Sačuvaj</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="ucitajDokument()">
                        <i class="bi bi-x-circle"></i> Odustani</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="brisanjeModal" tabindex="-1" aria-labelledby="brisanjeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="brisanjeModalLabel">Brisanje dokumenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Da li ste sigurni da želite da obrišete dokument?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="obrisiDokument()"><i
                            class="bi bi-person-x"></i> Potvrdi</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-circle"></i> Odustani</button>
                </div>
            </div>
        </div>
    </div>
</div>